<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.NotificationMapper">
    
    <resultMap type="Notification" id="NotificationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="readFlag"    column="read_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="readTime"    column="read_time"    />
    </resultMap>

    <sql id="selectNotificationVo">
        select id, user_id, title, content, read_flag, create_time, read_time from tb_notification
    </sql>

    <select id="selectNotificationList" parameterType="Notification" resultMap="NotificationResult">
        <include refid="selectNotificationVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="readFlag != null  and readFlag != ''"> and read_flag = #{readFlag}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectNotificationById" parameterType="Long" resultMap="NotificationResult">
        <include refid="selectNotificationVo"/>
        where id = #{id}
    </select>

    <insert id="insertNotification" parameterType="Notification" useGeneratedKeys="true" keyProperty="id">
        insert into tb_notification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="readFlag != null and readFlag != ''">read_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="readTime != null">read_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="readFlag != null and readFlag != ''">#{readFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="readTime != null">#{readTime},</if>
         </trim>
    </insert>

    <update id="updateNotification" parameterType="Notification">
        update tb_notification
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="readFlag != null and readFlag != ''">read_flag = #{readFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNotificationById" parameterType="Long">
        delete from tb_notification where id = #{id}
    </delete>

    <delete id="deleteNotificationByIds" parameterType="String">
        delete from tb_notification where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>